{% extends "template.html" %}

{# custom css #}
{% block css %}
{#    <link rel="stylesheet" href="{{-script_root-}}/static/css/bootstrap-table.css">#}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block nav_home %}
    active
{% endblock %}

{#{% block date_range_picker %}#}
{#{% endblock %}#}

{% block body %}

    <div class="container">
        <div class="row mb-2">
            <div class="col-md-8 mb-2">
                <h3>White dwarfs detected with ZTF</h3>
            </div>
            <div class="col-md-4">
                <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
                <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

                <div id="reportrange"
                     style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                    <i class="far fa-calendar-alt"></i>&nbsp;
                    <span></span> <i class="fas fa-caret-down"></i>
                </div>

                <script type="text/javascript">
                $(function() {

                    {#var start = moment().utc().subtract(1, 'days').startOf('day');#}
                    var start = moment().utc().startOf('day');
                    var end = moment().utc();

                    function cb(start, end) {
                        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                    }

                    $('#reportrange').daterangepicker({
                        startDate: start,
                        endDate: end,
                        minDate: moment('20170901', 'YYYYMMDD'),
                        maxDate: end,
                        opens: "left",
                        ranges: {
                           'Today': [moment().utc().startOf('day'), moment().utc().add(1, 'days').startOf('day')],
                           'Yesterday': [moment().utc().subtract(1, 'days').startOf('day'),
                                         moment().utc().startOf('day')],
                           'Last 7 Days': [moment().utc().subtract(6, 'days').startOf('day'),
                                           moment().utc().add(1, 'days').startOf('day')],
                           'Last 30 Days': [moment().utc().subtract(29, 'days').startOf('day'),
                                            moment().utc().add(1, 'days').startOf('day')],
                           'This Month': [moment().utc().startOf('month'),
                                          moment().utc().endOf('month')],
                           'Last Month': [moment().utc().subtract(1, 'month').startOf('month'),
                                          moment().utc().subtract(1, 'month').endOf('month')],
                           'Everything': [moment('20170901', 'YYYYMMDD'), moment().utc()]
                        }
                    }, cb);

                    cb(start, end);

                    $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
                        var start = picker.startDate.format('YYYYMMDD');
                        var end = picker.endDate.format('YYYYMMDD');
                        window.location.href = "?start=" + start + "&end=" + end;
                    });

                });
                </script>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12">
                {% for alert in alerts %}
                    {{  alert['_id'] }}<br>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog"
         aria-labelledby="modal-query-id" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-query-id"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">
                    <pre><code id="modal-body-code" style="font-size:0.75em;"></code></pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
{#                    <button type="button" class="btn btn-primary">Save changes</button>#}
                </div>
            </div>
        </div>
    </div>

    {# propagate date ranges #}
    {% if request.args.get('start') != None and request.args.get('end') != None %}
    <script>
        $(document).ready(function() {
            $('#reportrange').data('daterangepicker').setStartDate(moment('{{ request.args.get('start') }}', 'YYYYMMDD'));
            $('#reportrange').data('daterangepicker').setEndDate(moment('{{ request.args.get('end') }}', 'YYYYMMDD'));
        });
    </script>
    {% endif %}

{% endblock %}

{% block js %}

    <script src="{{-script_root-}}/static/js/json-bigint.js"></script>

    <script>
        {# show flashing messages #}
        function showFlashingMessage(title, message, type) {
            $.notify({title: title, message: message},
                {placement: {
                    from: "bottom",
                    align: "right"
                },
                    type: type,
                    template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert" ' +
                    'style="max-width:400px; font-size: 0.75rem;">' +
                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                    '<span data-notify="icon"></span> ' +
                    '<span data-notify="title">{1}</span> ' +
                    '<span data-notify="message">{2}</span>' +
                    '<div class="progress" data-notify="progressbar">' +
                    '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" ' +
                    'aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                    '</div>' +
                    '<a href="{3}" target="{4}" data-notify="url"></a>' +
                    '</div>'
            });
        }
    </script>
{% endblock %}